*~
*#
*.swp

*.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.egg-info/

/.coverage
/.coverage.*
/.cache
/.pytest_cache
/.mypy_cache

/build
run_logs/
*.json
/build_logs/
*.ipynb
*.log
eval_logs/
run_logs*/
paper_results/*
doc/
*.txt